@using Kendo.Mvc.UI
@using Yashmak.Web.Areas.Admin.ViewModels.Files
@model FileViewModel
@{
    ViewBag.Title = "Files";
    const string ControllerName = "Files";
}
<h2>@ViewBag.Title</h2>
@(Html.Kendo()
      .Grid<FileViewModel>()
      .Name("grid")
      .Columns(cols =>
          {
              cols.Bound(pr => pr.Id).Hidden();
              cols.Bound(pr => pr.UserName);
              cols.Template(pr => pr.FileName)
                  .ClientTemplate("<a href='/Admin/Files/DownloadFile/#= Id #'>#: FileName #</a>");

              cols.Bound(pr => pr.Size);
              cols.Bound(pr => pr.Permission).Hidden();
              cols.Bound(pr => pr.CreatedOn).Format("{0:d}").Hidden();
              cols.Bound(pr => pr.ParentId).Hidden();

              cols.Command(com => com.Destroy()).Title("Delete");
          })
      .ColumnMenu()
      .Pageable(page => page.Refresh(true))
      .Sortable()
      .Groupable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .DataSource(data =>
                  data.Ajax()
                      .Model(m => m.Id(adv => adv.Id))
                      .Read(read => read.Action("Read", ControllerName))
                      .Create(create => create.Action("Create", ControllerName))
                      .Destroy(destroy => destroy.Action("Destroy", ControllerName))
      ))