@using Kendo.Mvc.UI
@using Yashmak.Web.Areas.Admin.ViewModels
@model FileViewModel
@{
    ViewBag.Title = "Files";
    const string ControllerName = "Files";
}

<h2>@ViewBag.Title</h2>
@(Html.Kendo()
      .Grid<FileViewModel>()
      .Name("grid")
      .Columns(cols =>
          {
              cols.Bound(pr => pr.Id).Hidden();
              cols.Bound(pr => pr.User.UserName);
              cols.Bound(pr => pr.FileName);
              cols.Bound(pr => pr.Size);
              //cols.Bound(pr => pr.Permission.AccessType);
              //cols.Bound(pr => pr.Permission.AuthorizedUsers).Hidden();
              cols.Bound(pr => pr.CreatedOn).Hidden();
              cols.Bound(pr => pr.ModifiedOn).Hidden();
              cols.Bound(pr => pr.ParentId).Hidden();              
              cols.Command(com => com.Edit()).Title("Change");
              cols.Command(com => com.Destroy()).Title("Delete");
          })
      .ColumnMenu()
      .Pageable(page => page.Refresh(true))
      .Sortable()
      .Groupable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .ToolBar(toolbar => toolbar.Create())
      .DataSource(data =>
                  data.Ajax()
                      .Model(m => m.Id(adv => adv.Id))
                      .Read(read => read.Action("Read", ControllerName))
                      .Create(create => create.Action("Create", ControllerName))
                      .Update(update => update.Action("Update", ControllerName))
                      .Destroy(destroy => destroy.Action("Destroy", ControllerName))
      ))