@model Yashmak.Web.Models.Directory.DirectoryViewModel

<div id="files">
    
    <ol class="breadcrumb">
        @{
            @Html.DisplayFor(x => x.NavigationModels)
        }
    </ol>

    
    <table class="table table-condensed table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th> </th>
                <th>Name</th>
                <th>Kind</th>
                <th>Modified</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(x=>x.Files)
        </tbody>
    </table>


</div>