@model Yashmak.Web.Models.Directory.DirectoryViewModel

<div id="files">
    <div class="row">
        <ol class="breadcrumb">
            @{
                @Html.DisplayFor(x => x.NavigationModels)
            }
        </ol>
    </div>
    
    <input type="hidden" id="curFolderId" value="null"/>
    @Ajax.ActionLink("Upload", "FileUpload", "Upload", new { fileNodeId = 0 },
    new AjaxOptions { UpdateTargetId = "files", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" },
    new { @class = "fa fa-upload fa-2x dynamic-change-id" })
    @Ajax.ActionLink("New Folder", "CreateFolder", "Directory",
    new { fileNodeId = 0 },
    new AjaxOptions { UpdateTargetId = "files", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" },
    new { @class = "fa fa-folder-o fa-2x dynamic-change-id" })
    
    <div class="row">
        <table class="table table-responsive table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th style ="width: 50%">Name </th>
                    <th>Kind</th>
                    <th>Modified</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(x => x.Files)
            </tbody>
        </table>
    </div>

</div>