@using Kendo.Mvc.UI
@using Yashmak.Web.Areas.Admin.ViewModels.Users
@model Yashmak.Data.Models.AppUser
@{
    ViewBag.Title = "Users";
    const string ControllerName = "Users";
}

<h2>@ViewBag.Title</h2>
@(Html.Kendo()
      .Grid<UserViewModel>()
      .Name("grid")
      .Columns(cols =>
          {
              cols.Bound(pr => pr.Id).Hidden();
              cols.Bound(pr => pr.UserName);
              cols.Bound(pr => pr.Role);
              cols.Bound(pr => pr.FilesCount);
              cols.Bound(pr => pr.UsedSpace);
              
              cols.Command(com => com.Edit()).Title("Change");
              cols.Command(com => com.Destroy()).Title("Delete");
          })
      .ColumnMenu()
      .Pageable(page => page.Refresh(true))
      .Sortable()
      .Groupable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .ToolBar(toolbar => toolbar.Create())
      .DataSource(data =>
                  data.Ajax()
                      .Model(m => m.Id(adv => adv.Id))
                      .Read(read => read.Action("Read", ControllerName))
                      .Create(create => create.Action("Create", ControllerName))
                      .Update(update => update.Action("Update", ControllerName))
                      .Destroy(destroy => destroy.Action("Destroy", ControllerName))
      ))