@model int?
@{
    ViewBag.Title = "Browse files";
}

<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<div id="container">       
    @Html.Action("ViewFolder", "Files", new { fileId = @Model })
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/fileNode.select.js")
}