@model int?
@{
    ViewBag.Title = "Browse files";
}

@section styles{
}

<div id="container">    
    
    <div id="dialog-confirm" class="modal modal-dialog modal-content" title="Delete the item?">
        <p><span class="fa fa-warning fa-2x" style="float: left; margin: 0 7px 20px 0;"></span>This item will be deleted. Are you sure?</p>
    </div> 

    @Html.Action("ViewFolder", "Files", new { fileId = @Model })
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/fileNode.select.js")
}