@using System.Globalization
@model Yashmak.Web.Models.Directory.FileViewModel
<tr class="hidden">
    <td>Download</td>
    <td>
        Manage permissions
        Delete
        Rename
        Move
        Copy
    </td>
    <td>Create folder</td>
    <td>File Upload</td>
</tr>
<tr class="file-row">
    <td>
        @{
            if (Model.IsDirectory)
            {
                <span class="glyphicon glyphicon-folder-open"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-file"></span>
            }

        }
    </td>
    <td>@Ajax.ActionLink(Model.FileName, "ViewFolder", "Files",
            new { fileId = Model.Id },
            new AjaxOptions { 
                                UpdateTargetId = "files",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace 
                            },
            new {data_index=Model.Id})</td>
    <td>@{
            if (Model.IsDirectory)
            {
                <span>folder</span>
            }
            else
            {
                var index = Model.FileName.LastIndexOf('.');
                if (index == -1)
                {
                    <span>binary</span>
                }
                else
                {
                    <span>@Model.FileName.Substring(index)</span>
                }
            }

        }</td>
    <td>@Html.DisplayFor(f => f.ModifiedOn)</td>
    <td>@(Model.Size == 0 ? "-" : Model.Size.ToString(CultureInfo.InvariantCulture))</td>
</tr>