@model Yashmak.Web.ViewModels.Directory.NavigationDirectoryViewModel
           
<li>
    @Ajax.ActionLink(Model.FileName, "ViewFolder", "Files",
                        new { filenodeid = Model.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = "files",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace
                        })
</li>