@model IEnumerable<Yashmak.Data.Models.Message>
@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">

    @foreach (var message in Model)
    {
        <div class="row panel panel-warning"><span class="fa fa-warning"></span> <span>Message: @message.Content</span></div>
    }

</div>


<div class="row text-center" >
    <h2><span class="fa fa-5x fa-archive"></span></h2>
</div>
<hr/>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register your account to get started...
        </p>
        <p><a href="/Account/Register" class="btn btn-primary" id="registerLink">Register</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more space</h2>
        <p>Go pro and archive your files like mad man...</p>
        <p><a class="btn btn-inverse" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recover deleted files</h2>
        <p>You can easily find and recover, mix of features and price for safety...</p>
        <p><a class="btn btn-inverse" href="#">Learn more &raquo;</a></p>
    </div>
</div>